.loader-wrapper{
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--secondary-color-lightr);
    top: 0px;
    z-index: 1000;
}
.loader_container{
    width: 80%;
    margin: auto;
}
.loader{
  background:linear-gradient(#0ab377 0 0) bottom left/0% 3px no-repeat;
  animation:loadings 4s linear infinite ;
  padding-bottom: 8px;
  text-transform: capitalize;
}

@keyframes loadings{
  to{
    background-size:100% 3px ;
  }
}

