.menubar {
     position: absolute !important;
     width: 100%;
     background-color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
     position: sticky;
     top: 0;
     z-index: 32;
    }
  .logo {
    margin-left: 3%;
  }

  /* styling for email newsletter modal */

.EmailSubModalHide{
  display: none;
}


 .EmailSubModal{    
  position: fixed;
  z-index:70;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: #0000004a !important;
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
}

.EmailSubCard{
  background-color: white;
}

.EmailSubCardContent{
  padding-top: 0 !important;
  padding-inline: 4rem;
  padding-bottom: 2rem;
  display: grid;
  gap:1rem;
  align-items: center;
}

.EmailSubCardHeader{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-family: "STIX Two Text";
}

.EmailSubCardClose{
  display: flex;
  justify-content: flex-end;
}
.EmailSubCardClose>svg{
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  cursor: pointer;
}

.EmailSubCardBody>p{
  color:black !important;
}

.EmailSubCardBody{
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  gap: 0.6rem;
}

.EmailSubBtn{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background: #ACC927;
}

.EmailSubCardBtn>button{
  padding-inline: 3rem;
}

.EmailSubCardInput{
  width: 100%;
  display: flex;
  justify-content: center;
}

.EmailSubCardInput>input{
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  width: 80%;
}

.navLinks{
  margin: 0 !important;
  width: 100vw;
  justify-content: space-between;
}
  .navLinkWrapper{
      display: flex;
      margin-right: auto;
      width: 36%;
      justify-content: space-around;
  }
   .menubar.active{
     position: relative;
    font-family: 'Open Sans', sans-serif;
     background-color: white;
     border: 0.5px solid #ccc;
    padding: 0rem 1rem !important;     
   }
   .menubar.active #navstyle1 {
        color: var(--Ourred);
        font-weight: 500;
        padding: 5px 5px;
        margin: 10px 10px;
        font-size: 16px;
   }
   .menubar.active #navstyle2 {
        color: var(--Ourred);
        font-weight: 500;
        padding: 5px 5px;
        margin: 10px 10px;
        font-size: 16px;
   }
.navBarLogIn,
.navBarLogOut,
.navBarRegister {
  border: 1px solid white;
  color:white !important;
  padding: 4px 10px !important;
  margin: 10px 10px !important;
  font-size: 13px !important;
  min-width: 80px;
}
.menubar .text-success{
  color: #00442f !important;
}
.text-success-modal{
  padding: 10px;
    color: white;
}
.success-modal-close-btn{
  border: none;
  background: transparent;
  color: white;
  padding-left: 25px;
}
.CouponModal{
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #43B929;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-fail{
  color:#ff0000;
}
  .menubar.active .navBarLogIn,
  .menubar.active .navBarLogOut,
  .menubar.active .navBarRegister {
    border: 1px solid var(--Ourred);
    color:var(--Ourred) !important;
    padding: 4px 10px !important;
    margin: 10px 10px !important;
    font-size: 13px !important;
    min-width: 80px;
  }

.zangGreen{
  background-image: url("assets/zangGreen.png");

}
.zangWhite{
  background-image: url("assets/zangWhite.png");
}

.zang {
    width: 80px;
    margin-top: 1rem;
    height: 30px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.navTitle {
  color: darkslategray !important;
}

.navBarProducts:hover
 {
  text-decoration: none !important;
  font-size: 100%;
  font-weight: 800 !important;
  color: var(--Ourred);
  transform: scale(1.15, 1.1);
}
.badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px !important;
  background: #ff0000 !important;
  color: white;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px; 
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.navBarRegister:hover,
.navBarLogIn:hover,
.navBarLogOut:hover {
  text-decoration: none !important;
  /* box-shadow: 0 0.5em 0.5em -0.4em var(--Ourred) !important; */
  border: 2px solid var(--Ourred) !important;
  background-color: white !important;
  color:var(--Ourred) !important;
}

.navbar-toggler {
  border: none !important;
}


#navstyle1 {
  color: white;
  font-weight: 500;
  padding: 5px 5px;
  margin: 10px 10px;
  font-size: 16px;
}

#navstyle2 {
  color: white;
  font-weight: 500;
  padding: 5px 5px;
  margin: 10px 10px;
  font-size: 16px;
}
/* #responsive-navbar-nav{
  background-color: white;
  color: #198643;
} */
@media (max-width: 349px) {
  
  .logo {
    width: 50%;
  }
  
  nav {
    width: 100%;
  }

  .navBarProducts,
  .navBarCart,
  .navBarLogIn,
  .navBarLogOut .navBarRegister {
    font-size: 0.9rem;
  }
  .menubar {
    position: absolute !important;
  }
  .navbar-toggler{
    color: #00442f !important;

  }
}

@media (min-width: 350px) and (max-width: 450px) {
  .navbar-toggler {
    /* margin-top: 25vh; */
    margin-left: -4vw;
    color: #00442f !important;
  }
  .logo {
    width: 50%;
  }
  

  /* .navBarProducts ,
  .navBarCart ,
  .navBarLogIn ,
  .navBarLogOut
  .navBarRegister {
  
    font-size: .7rem;
      } */
}

@media (min-width: 451px) and (max-width: 600px) {

  .navbar-toggler {
    /* margin-top: 20vh; */
    margin-left: -2vw;
    color: #00442f !important;

  }

  .logo {
    width: 30%;
  }
  
  /* .nav-link {
    padding: 0 !important;
  } */
}

@media (min-width: 601px) and (max-width: 700px) {
  
  .navbar-toggler {
    /* margin-top: 22vh; */
    margin-left: -2vw;
    color: #00442f !important;

  }

  .logo {
    width: 30%;
  }
  
  /* .nav-link {
    padding: 0 !important;
  } */
}

@media (min-width: 701px) and (max-width: 767px) {
 
  .navbar-toggler {
    width: 100;
    color: #00442f !important;

  }
  .logo {
    width: 30%;
  }
  
}

@media (min-width: 768px) and (max-width: 1265px) {
  
  .stacked {
    flex-direction: column !important;
  }
  .logo {
    width: 30%;
  }
  

  #basic-navbar-nav {
    margin-top: 20vh !important;
  }
}
@media (max-width: 990px) {

    /*dont change it*/
  .zangWhite{
    background-image: url("assets/zangGreen.png");

  }
  .navLinks{
    justify-content: none;
    width: auto;
    margin-left:auto;
  }
  .navLinkWrapper{
      display: block;
      margin:auto; ;
      width: auto;
  }
  .menubar .text-white{
    color:  #00442f !important;
  }
  .menubar{
    position: relative;
    background-color: white;
    justify-content: space-between !important;
    padding: 0rem 1rem !important;
  }
  .menubar.active{
     position: relative;
     justify-content: space-between !important;
     font-family: 'Open Sans', sans-serif;
     background-color: white;
     border: 0.5px solid #ccc;
    }
   .menubar.active #navstyle2,
   .menubar #navstyle2
   {
     border: 1px solid var(--Ourred) !important;    
   }
   .menubar.active #navstyle1 ,
   .menubar.active #navstyle2 ,   
   .menubar #navstyle1 ,
   .menubar #navstyle2 {
        color: var(--Ourred) !important;
   }
   .menubar .MuiAvatar-root  {
    background-color: #00442f !important;
    color:white !important;
   }
}
