.review_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	 display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  width: 75%;
  color: rgb(80, 88, 99);
  padding: 24px;
  border-radius: 3px;
  border: 1px solid rgb(222, 224, 227);
  box-shadow: rgb(196 199 204) 0px 0px 2px;
  background-color: rgb(255, 255, 255);
}
.companies_contents{
	min-height: 20px;
    margin:1rem 0;
    border: 1px solid #dcdcdc;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
/* media query for mobile phones */
@media (max-width:700px) {
	.companies_contents{
	    width: 78%;
	}
}