.review_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 15px;
  margin: 1rem;
  line-height: 24px;
  color: var(--font-color);
  padding: 10px 24px;
  border-radius: 3px;
  /*border: 1px solid rgb(222, 224, 227);*/
  box-shadow: rgb(196 199 204) 0px 0px 2px;
  background-color:var(--secondary-color);  
}
.wrapper {
  margin: 0.2rem;
  padding: 0.2rem;
}
.d-flex {
  display: flex;
  align-items: center;
}
.company_name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}
.created_at {
  font-size: 13px;
  color: #97a0be;
}
.edit_icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.edit_icon i
{
  color: var(--primary-color);
}
.expand_icon i {
  transform: rotate(180deg);
  cursor: pointer;
  margin-left: 1rem;
}
.rating {
  font-size: 0.75rem;
  font-weight: bold;
}

summary {
  text-decoration: underline;
}
summary:hover {
  cursor: pointer;
}
summary:focus {
  outline: none;
}

.padding {
  padding-left: 10px;
}
.margin-0 {
  margin: 0;
}
.review_text-bold {
  font-weight: 500;
  margin-bottom: 5px;
}
.review_text-bold span {
  font-weight: 500;
}
.review_text-point {
  margin: 0.2rem;
  padding-left: 1rem;
}
.round_name {
  text-transform: capitalize;
}

.user_wrapper {
  margin-left: auto;
}
.user_name {
  font-weight: bold;
  margin: 0;
}
.user_text-green,
.user_text-red {
  color:var(--primary-color);
  font-weight: bold;
  padding: 0.1rem;
  border: 1px solid var(--primary-color);
  margin: 0.5rem;
  font-size: 12px;
}
.user_text-red {
  color: red;
  border: 1px solid red;
}
.user_text-small {
  font-size: 12px;
  color: yellow;
}
.review_rounds {
  padding-left: 1rem;
}
/* media query for mobile phones */
@media (max-width: 700px) {
  .review_container {
    width: 82%;
  }
}
