.floating_icon{
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 999;
}

.floating_icon a{
}
.floating_icon i{
  font-size: 2.4rem;
  color: var(--primary-color);
}
.floating_icon::after{
  content: "";
  position: absolute;
  bottom: 4px;
  top: 35%;
  right: 40px;
  height: 10px; 
  width: 8px;
  /*border: 6px solid transparent;*/
  transform: rotate(230deg);
  z-index: -111;
  background-color: var(--primary-color);
}
.floating_icon::before{
  content: "Help";
  position: absolute;
  bottom: 4px;
  height: 10px;
  top: 10px;
  right: 40px;
  background-color: var(--primary-color);
  padding: 0.2rem;
  font-size: 0.5rem;
  white-space: nowrap;
  font-weight: bold;
  /*border-radius: 1rem;*/
}