/*	HERO STYLE */

.hero_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-transform: capitalize;
  align-items: center;
  /*height: 5vh;*/  
  color: var(--font-color);

}
.hero_text h1 {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 5px;
}
.hero_text p {
  font-size: 12px;
  color: gray;
  font-weight: bold;
  line-height: 20px;
}

.hero_button1,
.hero_button2 {
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: inset 0 -0.6em 0 -0.35em rgb(0 0 0 / 17%);
  text-align: center;
  border-radius: 0.5em;
  outline: none;
  /*border: 2px solid white;*/
  border: none;
  font-weight: 400;
}

.hero_button2 {
  background-color: var(--primary-color);
  color: white;
}

.hero_button1:hover,
.hero_button2:hover {
  top: 0.1em;
}

.hero_button2:hover {
  top: 0.1em;
}

.hero_img img {
  max-width: 500px;
  /*max-height:500px;*/
}

/*	SECTION STYLE 		*/

.section_container {
  background-color: var(--secondary-color-light);
}

.section_title {
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
}
.how_itworks_container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  padding: 10px;
  padding-bottom: 20px;
}
.how_itworks-card {
  /*color: rgb(80, 88, 99);*/
  padding: 24px;
  margin: 0.5rem;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border-radius: 0.5rem;*/
  /*border: 1px solid rgb(222, 224, 227);*/
  box-shadow: rgb(196 199 204) 0px 0px 2px;
  background-color: rgb(255, 255, 255);
  background-color: var(--secondary-color);
  color: var(--font-color);
}
.how_itworks-img {
  height: 150px;
  border-radius: 25%;
  /*background-color: var(--primary-color);*/
  width: 150px;
}
.how_itworks-text-bold {
  font-weight: bold;
  text-transform: capitalize;
  margin: 0.3rem;
}
.how_itworks-text {
  text-align: center;
  width: 184px;
  font-size: 14px;
}
.company_container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-direction: column;
}
.company_heading {
  margin: 0;
  text-align: center;
}
.company_subheading {
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: gray;
  text-transform: capitalize;
}
.company_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: auto;  
}
.company_img {
  margin: 1rem;
  padding: 0.5rem;
  height: 100px;
  text-align: center;
  width: 100px;
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: rgba(1 ,1, 1,0.2);
  /*box-shadow: 0 0 0.4rem 0.2rem rgb(0 0 0 / 10%);*/
  box-shadow: rgb(196 199 204) 0px 0px 1px;

}
.company_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.company_img p {
  margin: 0;
  font-weight: bold;
}
.follow_container {
  min-height: 120px;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  /*border: 1px solid rgb(222, 224, 227);*/
  /*box-shadow: rgb(196 199 204) 0px 0px 2px;*/
  /*background-color: #f7f7f7;*/
  background-color: var(--secondary-color-light);

}
.follow_text h5 {
  margin-top: 0;
  margin-bottom: 5px;
}
.follow_icons i {
  font-size: 50px;
  color: var(--primary-color);
}
/*.float_icon{
  position: fixed;
  right: 10px;
  bottom: 70px;
}
.float_icon a{
  position: relative;
}
.float_icon a::before{
  content: "Telegram";
  position: absolute;
  bottom: 4px;
  right: 50px;
  background-color: yellow;
  padding: 0.4rem;
  border-radius: 1rem;
  display: block;
 
}*/
@media (max-width: 990px) {
  .how_itworks_container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* media query for mobile phones */
@media (max-width: 700px) {
  /*	HERO STYLE */
  .hero_container {
    height: 80vh;
  }
  .hero_text{
    margin-top: 1.7rem;
  }
  .hero_text h1 {
    font-size: 19px;
  }
  .hero_text p {
    font-size: 11px;
  }
  .hero_img{
    margin: auto;
    max-width: 90%;
  }
  .hero_img img {
    /*height: 385px;*/
    max-width: 100%;
  }

  /*	SECTION STYLE 		*/
  .how_itworks_container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .how_itworks-card{
    height: 200px;
    width: 200px;
  }
  .company_wrapper {
    width: 100%;
  }
}
