.add_review-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.add_review-container{
	background-color: orange;
    border-radius: 3px;
    padding: 1rem;
    max-width: 640px;
    min-width: 450px;
}

.add_review-from{
	margin-bottom: 12px;
}
.add_review-input{
	border: 0;
	outline: 0;
}
.add_review-button{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add_review-button button{
	color: #fff;
    background-color: #1861bf;
    padding: 7px 16px;
    outline: none;
    border: 0;
    width: 90px;
    border-radius: 2px;
}
.add_review-input,
.add_review-textarea{
	box-sizing: border-box;
    font-size: 15px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #c4c7cc;
    padding: 0 12px;
    padding-right: 12px;
    padding-left: 12px;
    color: #505863;
    width: 100%;
}
.add_review-textarea{
	height: auto;
}
.add_review-input option{
	font-size: 18px;
}