
.table {
  display: none;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin: 20px auto;
  border: 1px solid black;

}

.table .rider_img,
.table .user_img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.tr {
  border: 1px solid #8080808f;
  display: flex;
  min-width: 50px;
}

.tr:nth-child(odd) {
  background-color: #f3f3f4;
}

.th {
  background-color: #f3f3f4;
  font-weight: bold;
  text-transform: capitalize;
}

.th,
.td {
  padding: 10px;
  min-width: 60px;
  font-size: 13px;
  word-break: break-word;
  width: 100%;
  text-align: center;
}

.remove_user,
.remove_rider,
.verifiy_rider {
  color: white;
  width: 64px !important;
  font-size: 15px !important;
  height: 35px !important;
  position: relative;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid red;
  outline: none;
  transition: top 0.5s ease-in-out;
}

.remove_user,
.remove_rider {
  background-color: red !important;
}

.remove_user:hover,
.remove_rider:hover,
.verifiy_user:hover,
.verifiy_rider:hover {
  top: 0.3em;
}
